* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  background-color: #48D1CC;
}
li {
  list-style-type: none;

}
li a{
  text-decoration: none;
  color: #F5FFFA;
  letter-spacing: 2px;
}

.longue-title {
  letter-spacing: 4px;
  color: #F5FFFA;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 20%;
  align-items: center;
}

.sign-up {
  background-color: #AFEEEE;
  border-radius: 20%;
  padding: 10px
}

#signup-button {
  color: #303030;
}

.burger div{
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 8px 0;
}

.burger {
  display: none;
}

.rng-container {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rng-container h1 {
  margin-top: 5%;
  color: #008B8B;
  letter-spacing: 2px;
}
#rng-output {
  margin-top: 2%;
  border: 2px solid #008B8B;
  width: 550px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.rng-button {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    padding: 5px 5px 5px 9px;
    margin-top: 2%;
    background-color: #AFEEEE;
    border: 0px;
    cursor: pointer;
    box-shadow: 0px 5px grey;
}

.rng-form {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.rng-form input{
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#rngnumber {
  padding-bottom: 25px;
}
.rng-form button {
  background-color: #AFEEEE;
  border: 0;
  letter-spacing: 2px;
  box-shadow: 0px 5px grey;
  cursor: pointer;
}

#rngnumber {
  font-size: 2.5rem;
}

@media screen and (max-width: 1580px) {
  .nav-list {
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-items: center;
  }
}
@media screen and (max-width: 1073px) {
  .nav-list {
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
  }
}
@media screen and (max-width: 798px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    right: 0;
    top: 7.5vh;
    background-color: #48D1CC;
    height: 92.5vh;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    display: flex;


  }
  .burger {
    display: block;
    cursor: pointer;
  }
}
